.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .Piblikasyon {
    padding: 20px;
  }
  
  .Piblikasyon h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Piblikasyon ul {
    list-style: none;
    padding: 0;
  }
  
  .Piblikasyon li {
    margin-bottom: 5px;
  }
  
  .Pub {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .Pub h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .Pub a {
    color: #007bff;
    text-decoration: none;
  }
  